.chat_main
  .chat_main__group-info
    .group-info
      .group_name
        = @group.name
      .group_member
        - @group.users.each do |user|
          = user.name
        
    .btn
      = link_to edit_group_path(@group), class: 'edit_btn'do
        Edit
  .chat_main__message-list


    .messages
      = render @messages

  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message_input-box', placeholder: 'type a message'
      .input_btn
        = f.label :image, class: 'input_image_btn' do
          = icon('fas', 'image', class: 'input_icon')
          = f.file_field :image, class: 'input_format'
      = f.submit 'Send', class: 'send_message_btn'
