.side_bar
  .side_bar__user-name
    .top_items
      .top_items__name
        = current_user.name
      .top_items__icons
        = link_to new_group_path(current_user) do
          =icon('far','edit', class: "top_items__icons__icon")
        
        = link_to edit_user_path(current_user)  do
          =icon('fas','cog', class: "top_items__icons__icon")       
  .side_bar__grouplist
    -current_user.groups.each do |group|
      .group
        = link_to "#", class:"group"do
          .group_name
            = group.name
          .group_status
            まだメッセージがありません